* { 
  margin: 0;
  padding: 0;
  box-shadow: border-box;

}

body {
  padding: 0;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

input {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  cursor: pointer;
}


