@font-face {
  font-family: "Roboto", sans-serif;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

* { 
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: "Roboto", sans-serif;

}

body {
  padding: 0;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

input {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  cursor: pointer;
}











.header__logo h5 {
  color: #949494;
  font-size: 14px;
  margin-bottom: 14px;
}

.header__logo .header__logo--price {
  font-size: 32px;
  color: var(--tg-theme-text-color);
  margin: 0 6px 0 8px;
}

.header__logo div span {
  font-size: 14px;
  color: rgb(148, 148, 148);
}

.info {
  display: flex;
}

.heared {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.info {
  display: flex;
}

.navigat {
  margin-top: 25px;
  display: flex;
  border-bottom: 1px solid rgba(148, 148, 148, 0.5);
}

.navigat div {
  padding: 0 10px;
}

.navigat div span {
  font-weight: 500;
  width: auto;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.referal__list--body ul {
  display: flex;
  flex-direction: column;
}

.referal__list--body ul li {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    /* border-bottom: 1px solid grey; */
    background-color: rgb(35, 46, 60);
    margin-bottom: 8px;
    border-radius: 12px;
}

.referal__list--header ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Позволяет элементам списка распределяться равномерно в ряду */
  grid-gap: 0; /* Устанавливает промежутки между элементами в 0 */
  padding: 0; /* Убирает внутренний отступ */
}

.referal__list--header li {
  list-style-type: none; /* Убирает маркеры списка */
  text-align: center; /* Выравнивает текст по центру */
  padding: 10px; /* Добавляет отступы вокруг текста */
}

.activ>span  {
  font-weight: bold; /* Пример стилизации активного элемента */
  color: rgb(251, 144, 46); /* Пример изменения фона активного элемента */
}

.activ>span::after  {
  content: '';
  display: flex;
  background-color: rgb(251, 144, 46);
  width: 100%;
  height: 4px;
  border-radius: 6px 6px 0 0;
}

.info__presentation {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  min-height: 70px;
  margin-left: 30px;
  width: auto;
  background-color: #949494;
  /* background-color: var(--tg-theme-hint-color); */
}



.header__btn button {
  border: 0;
  padding: 5px;
  color: white;
  background-color: grey;
}

.header__btn button {
  border: 0;
  padding: 5px;
  color: white;
  background-color: grey;
}

.header__btn {
  display: flex;
  align-items: center;
}

.info>div>div {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.info>div>.info__svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__presentation--leftBlock span {
  color: rgb(148, 148, 148);
  font-family: Roboto;
  font-size: 14px;
}

.referal__list li.activ {
  background-color: rgb(251, 144, 46);
  border-radius: 8px;
  color: white;
}

.referal__list {
  padding: 25px 24px;
}

.referal__list--header {
    padding: 4px;
    border-radius: 10px;
    font-weight: 400;
    background-color: rgb(35, 46, 60);
    color: rgb(148, 148, 148);
    margin-bottom: 24px ;
    /* background-color: var(--tg-theme-hint-color);*/
}

.referal__list {
  color: rgb(148, 148, 148);
}

.referal__list--body-li-left h5 {
  color: white;
}

.referal__list--body-li-right h5 {
  color: rgb(80, 199, 135);
}

.referal__list--body-li-right h5 svg {
  margin-right: 5px;
}

.referal__list--body h5 {
  margin-bottom: 12px;
}
